extends layout

block content
  if !user
    h3 Please Log In
    form(action="/log-in" method="POST")
      label(for="username") Username 
      input(name="username" placeholder="Username" type="text")
      br
      br
      label(for="password") Password 
      input(name="password" type="password")
      br
      button(type="submit") Log In
    a(href='/sign-up') Don't have an account? Sign up here!
  else
    h2 Welcome Back to Your Fridge #{user.firstname} #{user.lastname}
    
    form(action="" method="POST")
        textarea( rows="20" cols="100" name="food") #{user.fridge.toString()}
        button(type="submit") Update
    a(href='/') BACK