extends layout

block content


  if !user
    h3 Please Log In
    form(action="/log-in" method="POST")
      label(for="username") Username 
      input(name="username" placeholder="Username" type="text")
      br
      br
      label(for="password") Password 
      input(name="password" type="password")
      br
      button(type="submit") Log In
    a(href='/sign-up') Don't have an account? Sign up here!
  else
    h2 Welcome Back to Your Fridge #{user.firstname} #{user.lastname}
    
    if user.fridge
        ul
        for item in user.fridge
            li= item
    else
        p NOTHING IN FRIDGE
    a(href='/add-fridge') EDIT FRIDGE
    br
    a(href='/') BACK
    