extends layout

block content


  if !user
    h3 Please Log In
    form(action="/log-in" method="POST")
      label(for="username") Username 
      input(name="username" placeholder="Username" type="text")
      br
      br
      label(for="password") Password 
      input(name="password" type="password")
      br
      button(type="submit") Log In
    a(href='/sign-up') Don't have an account? Sign up here!
  else
    .container-fluid.bg-white
        .row
            .col-sm-3
            if user.fridge.length>0
                .col-sm-6
                    h2(style="font-weight:bold;padding:1em; text-align:center") Here's what you have in your fridge right now:
                    ul.list-group
                    - for(var i=0;i<user.fridge.length;i++){
                    
                            li.list-group-item(style={'text-align':'center'})= user.fridge[i].toUpperCase()
                    -}
                    br
            else
                .col-sm-6
                    h2(style="font-weight:bold;padding:1em; text-align:center") You currently have nothing in your fridge!
            .col-sm-3
       
    