extends layout

block content
  
  if !user
    #why.container-fluid.bg-white.text-center(style='border-color:black;')
    .row
      .col-sm-3(style="box-shadow: 10px 10px 5px grey;")
        br
        br
        h1= title
        br
        h3 Please Log In
        form(action="/log-in" method="POST")
          .form-group
            input.form-control( name="username" placeholder="Username" type="text")
          .form-group
            input.form-control( name="password" type="password" placeholder="Password")
          button.btn.btn-primary(type="submit") Log In
        if error 
          p error
        br
        a(href='/sign-up') 
          button.btn.btn-info(type="submit") Don't have an account? Sign up here!
        br
        br
      .col-sm-5(style='background-color:white,box-shadow: 10px 10px 5px grey')
        h1(style={'font-weight':'bold','font-size':'4em'}) Your Personal Recipe Management Tool
        p
          | FRIDGE RECIPES is your modern day fridge-management,tool. Find inspiration in the kitchen with recipes that use what is already in your fridge! Recipes are intelligently chosen and provided to you, based on the ingredients you have in your fridge.
      .col-sm-4(style={'padding':'2em'})
        img(style='max-width:80%;border:3px solid black;' src='https://cloudinary-res.cloudinary.com/image/upload/cookbook_post_nxrr1c.jpg' alt='Cookbook')
  else
    h3 Welcome Back #{user.username}
    a(href='/fridge') SEE FRIDGE
    br
    a(href='/add-fridge') EDIT FRIDGE
    br
    a(href='/log-out') LOG OUT